table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 50%;
  }

  tr:nth-child(even) {
    /* Change the even rows background color to light gray */
    background-color: #dddddd;
  }

  .products {
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
    text-align: center;
  }