<!DOCTYPE html>
<html lang="en">

<head>
  <title>JS DOM Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script rel="stylesheet" src="../static/basicDom2.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <h2>JS DOM Example 2</h2>
    <button type="button" class="btn" id="elem2" onclick="displayMessage(this)">Message 1</button>
    <button type="button" class="btn" onclick="displayMessage(this)">Message 2</button>
    <button type="button" class="btn" onclick="displayMessage(this)">Message 3</button>
    <button type="button" class="btn" onclick="displayMessage(this)">Message 4</button>


</body>

</html>