<!DOCTYPE html>
<!-- This is a comment in HTML -->
<html>
	<head>
		<title> Page Title</title>
		<!-- <style>
		p {
			color: red;
			font-family: verdana;
			font-size: 160%;
		}
		ol,ul  {
			border: 2px solid powderblue;
			background: #a55656;
			margin: 5px 5px;
			padding: 30px;
		}
		</style> -->
		<link rel = "stylesheet" href = "../styles/basicCss.css">
	</head>

	<body>
		<p>This is a long paragraph <br> to show the break tag </p>
		<br><p>These are the top five concerts I've attended</p>
		<ul>
			<li>Red Hot Chili Peppers</li>
			<li>The Strokes</li>
			<li>Kx5 @ EDC 22</li>
			<li>Chic</li>
			<li>Coldplay</li>
		</ul>
		<p class = "primary">These are the <em>top</em> <strong>five</strong> concerts I've attended in order</p>
		<ol>
			<li>The Strokes</li>
			<li>Coldplay</li>
			<li>Kx5 @ EDC 22</li>
			<li>Red Hot Chili Peppers</li>
			<li>Chic</li>
		</ol>
		<p id = "listen">Check them out!</p>
	</body>
</html>