<!DOCTYPE html>
<!-- This is a comment in HTML -->
<html>
	<head>
		<title>More Tags</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
			<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

	</head>

	<body>
		<p>This is a long paragraph <br> to show the break tag </p>
		<a href = "https://www.purdue.edu">This is a link</a>
		<br><a href = "https://www.iu.edu"><button onclick="alert('Got you!')">Purdue Website</button></a>
		<br><img src = ../data/rhcp.jpeg width="300">
		<img src = "https://media.pitchfork.com/photos/5929a58b13d1975652138f9b/1:1/w_320,c_limit/c1b895b7.jpg" width="300">
		<br><p>These are the top five concerts I've attended</p>
		<ul>
			<li>Red Hot Chili Peppers</li>
			<li>The Strokes</li>
			<li>Kx5 @ EDC 22</li>
			<li>Chic</li>
			<li>Coldplay</li>
		</ul>
		<p>These are the top five concerts I've attended in order</p>
		<ol>
			<li>The Strokes</li>
			<li>Coldplay</li>
			<li>Kx5 @ EDC 22</li>
			<li>Red Hot Chili Peppers</li>
			<li>Chic</li>
		</ol>
	</body>
</html>