name: workflow

on:
  schedule:
    - cron: '0 8 * * *'  # Runs every day at 8:00 utc
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape_products:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Create data directory
        run: |
          mkdir -p data

      - name: Run webscraper
        run: python webscraping/scrape.py

      - name: Commit and push CSV
        run: |
          ls
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data/products.csv
          git commit -m "Update CSV (automated)"
          git push