p {
		color: red;
		font-family: verdana;
		font-size: 160%;
	}
	
ol,ul {
		border: 2px solid powderblue;
		background: rgb(227, 225, 225);
		margin: 5px 5px;
		padding: 30px;
	}
.primary {
		color: green;
		font-family: verdana;
		font-size: 160%;
	}
	
#listen {
		color: blue;
		font-family: verdana;
		font-size: 160%;
	}